* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 1rem 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0.3rem;
  background-color: #0d6efd;
}

::-webkit-scrollbar-thumb {
  width: 0.3rem;
  background-color: #0d6efd;
}

@media screen and (max-width: 450px) {
  body {
    margin: 0rem 0rem;
    width: 100vw;
  }
}
